html, body {
  margin: 0;
}

#gray-section {
  background-color: #ececec;
}

.container-padded {
  padding: 7% 15%;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

button {
  background-color: white;
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 12px;
  padding: 2px 20px;
  font-weight: bold;
}

button:hover {
  background-color: #FBC02E
}

button:active {
  background-color: #FBC02E;
  color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}
