html, body {
  margin: 0;
}

/* Navigation Bar */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }

  #company-name {
    margin-top: 6px;
    margin-bottom: 0;
  }

  #nav-bar {
    margin-top: 0;
  }
}

#company-name {
  font-family: 'Oswald', sans-serif;
  padding: 0;
}

#nav-bar li {
  display: inline;
  font-family: 'Noto Sans JP', sans-serif;
  list-style: none;
  padding: 0 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

/* Main Book Section */
.main-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

#book-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  margin-bottom: 0;
}

#book-title h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

#book-title h3 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

#book-title button {
  background-color: white;
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 12px;
  padding: 2px 20px;
  font-weight: bold;
}

#book-title button:hover {
  background-color: #FBC02E
}

#book-title button:active {
  background-color: #FBC02E;
  color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Summary Section */
#overview p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

/* Review Section */
#review {
  color: white;
}

#review p {
  font-family: 'Cairo', sans-serif;
  font-size: 1.4em;
  line-height: 1.2;
}

#review footer {
  font-family: 'Barlow', sans-serif;
  text-align: right;
}

#review span {
  font-weight: bold;
}

/* More Books Section */
.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5% 0 5%;
}

.book-div img {
  height: 325px;
  width: 325px;
}

/* Author Section */
#author-section {
  padding-top: 8px;
}
.author-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2% 5% 3% 5%;
}

.author-div {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.author-div img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.author-div h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

/* Footer Section */
#footer {
  text-align: center;
  color: white;
}

.social-icon {
  margin: 20px 10px;
}

/* Coloured Sections */
.black-section {
  background-color: #212121;
}

.gray-section {
  background-color: #ececec;
}

.white-section {
  background-color: white;
}

.blue-section {
  background-color: #142d4c;
}

/* Section Title */
.section-title h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.3em;
  text-align: center;
  margin-bottom: 12px;
}

.section-title hr {
  width: 50%;
}

/* Containers Padding */
.container-padded {
  padding: 7% 15%;
}

.container-padded2 {
  padding: 2.5% 15%;
}
